* {
  margin: 0;
}
body {
  background: #fff;
  color: #222;
  font: 12px Helvetica, Arial, sans-serif;
  padding: 0 0 30px;
  background-image:url('../nodesterbw_rightbig.png');
  opacity:0.7;

}
#top_section {
  padding: 0 151px 0 0;
}
#nick_list {
  bottom: 35px;
  border-left: 1px solid #eee;
  line-height: 1.15;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;  
  width: 150px;
}
#nick_list ul {
  list-style-type: none;
  padding: 10px;
}
#nick_list li {
  padding-bottom: 0.45em;
}
#chat_body {
  padding: 10px;
  width: 100%;
}
#chat_body th,
#chat_body td {
  vertical-align: top;
}
#chat_body .author {
  font-weight: bold;
  padding: 2px 4px 2px 10px;
  text-align: right;
  width: 100px;
}
#chat_body .msg {
  background: #f6f6f6;
  padding: 2px 6px;
}
#chat_body .me .author {
  font-style: italic;
}
#chat_body tr:nth-child(2n) .msg {
  background: #efefef;
}
#chat_bar {
  background: #fff;
  bottom: 0;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  z-index: 1000;
}
#chat_bar,
#chat_bar button {
  height: 25px;
  line-height: 25px;
}
#chat_bar input {
  height: 23px;
  left: 5px;
  margin: 0;
  padding: 0 5px;
  position: absolute;
  right: 85px;
}
#chat_bar button {
  padding: 0;
  position: absolute;
  right: 5px;
  width: 75px;
}
#chat_bar .push {
  clear: both;
  height: 2em;
}
