* {
	margin: 0;
}
html {
	background: url(/grad.png);
	font-family: "Verdana";
}
#rocket {
	margin-left: auto;
	margin-right: auto;
	width: 8em;
	top: 30px;
}
#rocket img {
	height:150px;
	padding-top: 3px;
	margin-left: -10px;
}
.rocket {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	top:30px;
	text-align:center;
}
.btn.real {
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -ms-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(top, white, #E6E6E6);
	text-align:center;
}
.btn .clic {
	cursor: pointer;
	display: inline-block;
}
.time {
	text-align: right;
	color: #222;
	margin-right: 0;
	float: right;
}
.btn {
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: whiteSmoke;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
a {
	text-decoration:none;
} 
.btn-info {
	background-color: #49AFCD;
	background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -ms-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: linear-gradient(top, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2F96B4 #2F96B4 #1F6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	color: #fff;
}
.btn-settings {
    margin-top: 3px;
    position: absolute;
}
.tones {
	right: 30px;
}
.stats {
    right: 150px;
}
#nickLabel {
    margin-top: 9px;
    position: absolute;
    right: 270px;
    text-align: right;
}
.line-stats {
    background: none repeat scroll 0 0 #FFFFC6;
    border-radius: 10px 10px 10px 10px;
    font-size: 11px;
    padding: 0px 7px;
    float: right;
    margin-right: 5px;
    color: black;
}
.header-stats {
    background: none repeat scroll 0 0 #FFFFC6;
    border: 1px solid #D7D999;
    border-radius: 10px 10px 10px 10px;
    font-size: 11px;
    padding: 0px 7px;
    margin-right: 5px;
}
.webnick {
    color: #ffd720;
}
.box {
	width:17em;
	padding:50px 10px 30px 10px;
	margin-bottom: 45px;
	border-top: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
	background-color: white;  
	-webkit-box-shadow: #AAA 0px 1px 5px;
	box-shadow: 0px 1px 5px #AAA;
	-moz-box-shadow: 0px 1px 5px #AAA;
	margin-top: 30px;
}
#wrapper form {
	padding-top:2em;
}
.header {
	background: white !important;
	border-bottom: 1px solid #FFD720;
	padding-left: 20px;
	font-weight: bold;
	width:100% !important;
	vertical-align: -webkit-baseline-middle;
	position: fixed;
	-moz-box-shadow:2px 2px #ccc;
	-webkit-box-shadow:2px 2px #ccc;
	box-shadow:2px 2px #ccc;
	z-index:2e9;
	position: fixed;
	margin-top:-30px;
    height: 36px;
}
.header img {
	height:27px !important;
}
.spinner {
	margin-left:135px;
	top: 17px;
}
#login-msg {
	text-align: center;
	color: green;
}
#login-status {
    font-size: 0.7em;
    margin: 13px -10px -30px -10px;
    text-align: left;
    color: #500000;
}
#top_section {
	padding: 0 151px 0 0;
}
#nick_list {
	bottom: 35px;
	line-height: 1.15;
    overflow: auto;
    overflow-x: hidden;
	position: fixed;
	right: 0;
	top: 37px;
	width: 155px;
	background-color: #444;
	border-left: 3px solid #FFD720;
	box-shadow: -2px 0 #ccc;
	color: white;
	margin-bottom: 10px;
	font-family: Verdana;
}
#nick_list ul {
	list-style-type: none;
	padding: 10px;
}
#nick_list li {
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 14px;
}
#chat_scroller {
    margin-top: 38px;
    overflow: auto;
    overflow-x: hidden;
    margin-right: 9px;
    height: 30px;
}
#chat_body {
    width: 100%;
}
#chat_body th,
#chat_body td {
	vertical-align: top;
}
#chat_body .author {
	font-weight: bold;
	padding: 2px 4px 2px 10px;
	text-align: right;
	width: 105px;
	word-wrap: break-word;
}
#chat_body .msg {
	background: #ccc;
	height:22px;
	padding: 2px 6px;
}
#chat_body .me .author {
	font-style: italic;
}
.me > .msg,
.me > .msg > .msg-join {
	background: #444 !important;
	color:#fff;
}
.me > .author {
	background:#444;
	color:#fff;
}
.msg-join {
    color: #006600;
}
.msg-quitpart {
    color: #663300;
}
.msg-nick {
    color: #006666;
}
.msg-connected {
	color: #669966;
    font-weight: bold;
}
.msg-disconnected,
.msg-unknown {
    color: #999966;
    font-weight: bold;
}
#chat_body .btn > .default {
    text-shadow: none;
    color: #000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}
#chat_body tr:nth-child(2n) .msg {
	background: #efefef;
}
#chat_bar {
	background: #fff;
	bottom: 0;
	left: 0;
	padding: 5px;
	position: fixed;
	right: 0;
	z-index: 1000;
}
#chat_bar,
#chat_bar button {
	height: 35px;
	line-height: 25px;
}
#chat_bar input {
	height: 35px;
	font-size:16px;
	left: 5px;
	margin: 0;
	padding: 0 5px;
	position: absolute;
	right: 85px;
	line-height: 30px;
	/*width: 86%;*/
}
#chat_bar button {
	padding: 0;
	position: absolute;
	right: 5px;
	width: 75px;
}
#chat_bar .push {
	clear: both;
	height: 2em;
}
.gold {
	background-color:#FFD700 !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
.me .time {
	color:#ccc !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.time {
    text-shadow: none;
}
.off {display: none;}
